
@font-face {
    font-family: 'nunitomedium';
    src: font_url('nunito-medium-webfont.woff2') format('woff2'),
         font_url('nunito-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitoregular';
    src: font_url('nunito-regular-webfont.woff2') format('woff2'),
         font_url('nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}